# Ignore image directory and files
./*/images/
./*/images/*.png
./*/images/*.jpg
./*/images/*.gif
./*/images/*.jpeg
./*/images/*.bmp
./*/images/*.ico
./*/images/*.svg
./*/images/*.webp

# Ignore local configuration files
./*/*.ini